*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Myriad Pro", sans-serif;
}

.flex{
  display: flex;
}
.jc-space{
  justify-content: space-between;
}
.text-blue{
  color: #00cbff;
}

.container{  
  width: 1280px;
  margin: 0 auto;
}

header {
  padding-top: 60px;
}

header h1{
  font-size: 80px;
  font-weight: 200;
  margin-bottom: 45px;
  text-decoration: none;
}

.logo{
  text-decoration: none;
}

.menu-list {
 background-color: #29424e;
 text-align: center;
}
 
.menu-list-item {
 display: inline-block;
 list-style: none;
 padding: 26px 40px;
 cursor: pointer;
 transition: 0.5 solid ease-in-out;
 border: 1px solid #29424e;
}

.menu-list-item:hover {
  background-color: #142b38;
  border-right: 1px solid #828282;
  border-left: 1px solid #828282;
}

.menu-list-item a{
  color: white;
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
}

.hor-menu{
  width: 344px;  
}

.hor-menu-list{
  list-style: none;
  border: 2px solid #2a424f;
}

.hor-menu-item a{
  width: 100%;
  display: inline-block;
  text-decoration: none;
  padding: 30px 0 30px 45px;
  font-size: 27px;
  color: #485863;
}

.main-content{
  padding: 50px 0;
}

.hor-menu-item a:hover, 
.hor-menu-item a:active, 
.hor-menu-item a:focus {
  background-color: #dcdcdc;
  color: #000000;
  padding-left: 70px;
}

.images{
  border: 2px solid #35444F;
  height: 529px;
  position: relative;  
}

.images img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  width: 885px;
}

.main-text{
  font-size: 18px;
  padding: 50px 40px 0 30px;
}

.main-text p:first-child {
  margin-bottom: 30px;
}

footer{
  padding: 0 35px;
  background-color: #B4B7BA;
}

.footer-menu-item{
  list-style: none;
  margin-right: 22px;
  display: inline-block;
  padding: 22px 0 18px 0;
}

.footer-menu-item:last-child{
  margin-right: 0;
}

.footer-menu-item a{
  cursor: pointer;
  font-size: 28px;
  color: #001223;  
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.footer-menu-item a:hover{
   color: #3181A6;
   text-decoration: underline;
}

footer span{
  font-size: 24px;
  align-self: center;
}
