*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  text-align: center; /*выровнял так просто потому что по другому никак не получалось*/
  padding-top: 32px;
  padding-bottom: 36px;
}

.nav-list-item{
  color: #16A085;
  font-size: 18px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  text-decoration: none; /* добавить или убрать декорацию текста*/
  text-transform: uppercase; /*верхний регистр*/
  letter-spacing: 4px; /*интервал между буквами*/
}

.nav-list-item  :last-child { /*псевдоклас*/
  margin-right: 0; /**/
}

.main-bg{
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url("../img/bgr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info{
  padding-top: 57px;
  padding-bottom: 94px;
  text-align: center;
  background: #F5F6F7;
}

.info-text{
  margin: 0 auto;
  max-width: 1055px;
  margin-bottom: 45px;
}

.info-text h3{
  font-size: 22px;
  color: #373737;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-bottom: 35px;
}

.info-text p{
  font-size: 16px;
  color: #373737;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
  line-height: 26px; /*интервал между строк*/
}

.info-text p:nth-child(2){
  margin-bottom: 38px;
}

button{
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 5px;
  letter-spacing: 4px;
  padding: 23px 45px 19px;
  background-color: #16A085;
  font-family: "Roboto", sans-serif;
}

.footer{
  text-align: right;
  padding: 47px 105px 47px 0;
}

.footer p{
  font-size: 16px;
  color: #373737;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
}